@value nav_height, subnav_height, element_padding from "./layout.css";

.GameRoom {
    height: 100vh;
}

.Header {
    height: subnav_height;
    border: 1px solid black;
}

.Display {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: calc(100vh - nav_height);
}

li {
    border: 1px solid black;
    padding: element_padding;
    margin: 4px;
}

button {
    border: 1px solid black;
    padding: element_padding;
    cursor: pointer;
}

.readyPlayer {
    background-color: yellowgreen;
}

.readyButton {
    border: 2px solid black;
}