@value nav_height, subnav_height, element_padding, shadow_border from "./layout.css";

.GameRoom {
    height: 100vh;
}

.Header {
    height: subnav_height;
    border: 1px solid black;
}

.Display {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: calc(100vh - nav_height);
}

/* ul {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 18px;
    border-radius: 1px;
} */

.Player {
    box-shadow: shadow_border;
    padding: element_padding;
    padding: 18px 12px;
    margin: 8px;
}

.Ready {
    padding: element_padding;
    /* background-color: lightgoldenrodyellow; */
    background-color: lightseagreen;
    margin-top: 8px;
}

.PlayerReady {
    background-color: yellowgreen;
}