@value primary, primary_fade from "./colours.css";

.GameMap {
    height: calc(100vh - 50px);
    width: 100%;
    /* border: 1px solid black; */
}

.GameMap svg {
    /* background-color: azure; */
    background-color: rgb(255, 253, 228);
}

.Base {
    stroke: primary;
    fill: primary;
}

.Base rect {
    /* stroke: primary; */
    fill: transparent;
    stroke-width: 4;
    stroke-linejoin: round;
}

.Unit {
    /* font-weight: 700;
    letter-spacing: 0.5px; */
    stroke: primary;
    fill: primary;
}

.Unit rect {
    fill: transparent;
    stroke-width: 2; 
}

.Word {
    font-weight: 700;
    letter-spacing: 0.5px;
    stroke: primary;
    fill: primary;
}

.Typed {
    /* fill: red; */
    fill: primary_fade;
    stroke: primary_fade;
}

.Target {
    font-size: 3rem;
}

.Target rect {
    fill: rgba(100%, 100%, 100%, 1);
    box-shadow: 1px 1px 1px black;
}