@value nav_height, subnav_height, element_padding from "./layout.css";

.GameRoom {
    height: 100vh;
}

.Header {
    height: subnav_height;
    border: 1px solid black;
}

.Display {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: calc(100vh - nav_height);
}

/* ul {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 18px;
    border-radius: 1px;
} */

.Player {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: element_padding;
    margin: 6px;
}

.Ready {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: element_padding;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    margin-top: 6px;
}

.readyPlayer {
    background-color: yellowgreen;
}

.readyButton {
    /* border: 2px solid black; */
}