/* @value alt_base_background, alt_base_content_colour from "./colours.css";

.ticker {
    display: inline-block;
    padding: 20px;
    color: alt_base_content_colour;
    background-color: alt_base_background;
} */